.container {
  font-size: 1rem;
  line-height: 1.75;
  color: #1e293b;
}

.box {
  margin: 1rem 0.2rem;
  padding: 0.5rem 1rem;
  // border: 1px solid rgba(113, 128, 150, 0.6);
  border-radius: 1rem;
}

.title {
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 0.1em;
  line-height: 1.6;
}

.desc {
  margin-bottom: 0.5em;
  color: #475569;
}

.date {
  color: #94a3b8;
}
