@font-face {
  font-family: "Share";
  src: url("../public/fonts/ShareTechMono.ttf");
  font-weight: normal;
  font-style: normal;
}

.container {
  background-color: black;
  font-family: "Share";
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%vw;
  height: 100vh;
  color: #f6f6f6;
}

.input {
  font-family: "Share";
  margin-top: 8px;
  border: 1px;
  border: #757575;
  background: #333333;
  width: 280px;
  color: #f6f6f6;
  padding: 2px;
  border-radius: 5px;
  padding: 5px;
}

.submit {
  border: none;
  font-family: "Share";
  color: #f6f6f6;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  background-color: #757575;
  cursor: pointer;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
