@font-face {
  font-family: "Share";
  src: url("../public/fonts/ShareTechMono.ttf");
  font-weight: normal;
  font-style: normal;
}

.container {
  background-color: black;
  font-family: "Share";
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #f6f6f6;
  padding-bottom: 20px;
}

.linkWrapper {
  margin-top: 20px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.link {
  color: #757575;
  text-decoration: none;
  font-size: 1.3rem;
  border: solid 2px #757575;
  padding: 3px 10px;
  border-radius: 10px;
}

.linktext {
  color: #757575;
  text-decoration: none;
  font-size: 1.3rem;
}

.info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}

.question {
  color: #f6f6f6;
}

.answer {
  color: #757575;
  margin-top: 5px;
}

.draw {
  margin-top: 30px;
}

.drawlink {
  color: #f87171;
  text-decoration: none;
  font-size: 1.3rem;
}
